*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: capitalize;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #121212;
}

.parent{
  min-height: 100vh;
  width: 100%;
  color: white;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card{
  background-color: rgb(60, 60, 63);
  width: 400px;
  height: 350px;
  margin: 0 1rem;
  border-radius: 15px;

  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}

.head{
  /* background-color: beige; */
  display: flex;
justify-content: space-between;
  align-items: center;
  /* padding: 1rem ; */
  gap: 16px;
}
.head button{
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
}
img {
 width: 40px;
 height: 40px;
 border-radius: 50%;
}
.center{
padding: 10px 0;
/* border: 1px solid white ; */
margin-bottom: auto;

}
span{
  font-size:x-small;
  /* border: 1px solid rgb(99, 89, 89); */
}
.tag{
  display: flex;
  padding: 3px;
  gap: 5px;
  
}
.tag-prt{
padding-left: 5px;
border: 1px solid white ;
font-size: small;
color: rgb(49, 49, 49);
background-color: rgb(218, 216, 216);
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px ;
  border-top: 1px solid gold;
  margin-bottom: auto;

}
button{
  border: 1px solid lightblue;
  color: lightblue;
  padding: 10px;
 background-color: transparent;
 border-radius: 19px;
}
button:active{
background-color: lightblue;
color: white;
}