*{
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
input{
   padding: 1rem;
   border: none;
   background-color: #383838;

}
form{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
button{
  text-align: center;
  font-size: large;
  border: none;
  background-color: #383838;
  padding: 1rem;

}